@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sura&display=swap');

.bg{
   background-image: linear-gradient(115deg,
      rgba(241, 241, 241, 0.479),
      rgba(219, 219, 219, 0.719)), url(img/img\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

header{
    font-family: "Sura";
    font-size:larger;
 
}

h1{
    
    font-family: "Fredoka One";
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  

}
.card-img1{
    width: 344px;
    height: 400px;
    margin-left: 40px;
    border-radius: 40px;
    width: 250px;
    height: 300px;
    margin-bottom: 220px;
    margin-top: 90px;
    
    
    
    
}

.card-img2{
    width: 344px;
    height: 400px;
    margin-left: 40px;
    border-radius: 40px;
    width: 250px;
    height: 300px;
    margin-bottom: 220px;
    margin-top: 90px;
    
}

.card-img3{
    width: 344px;
    height: 400px;
    margin-left: 30px;
    border-radius: 40px;
    width: 250px;
    height: 300px;
    margin-bottom: 220px;
    
    
}

.tema{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.orient{
    margin-left: 300px;
    margin-bottom: 190%;
    font-family: "Sura";
    font-size:large;
    text-decoration: none;
    color:black;
    

    
}

.help{
    margin-left: 200px;
    margin-top:  200px;
    font-family: "Sura";
    font-size:large;
    text-decoration: none;
    color:black;
    float: inline-start;
}

.doacao{
    margin-left: 190px;
    margin-bottom: 150px;
    font-family: "Sura";
    font-size:large;
    text-decoration: none;
    color:black;
}

img, p {
    display: inline-block;
}

